@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-sm {
        background-position: top left, bottom -44px right -429px, center;
    }

    .bg-md {
        background-position: top left, bottom -44px right -342px, top 108px right 99px;
    }

    .list-style-marker {
        background: url("/images/main_list_marker.svg") no-repeat left center;
        padding-left: 15px;
    }

    .color-transition {
        @apply text-white md:hover:text-brand-blue-primary;
        transition: color 150ms ease;

        .color {
            @apply fill-current;
        }
    }
}

html {
    @apply w-full h-full;
    font-family: Inter, sans-serif;
    background: linear-gradient(to bottom, #9AF0FF, #53A2BE) fixed no-repeat;

    body {
        @apply w-full h-full font-normal;

        #__nuxt {
            @apply min-h-full flex flex-col justify-between bg-sm md:bg-md;
            background-image: url('/images/elephant.svg'), url('/images/bg_bl.svg'), url('/images/bg_bt.svg');
            background-attachment: scroll;
            background-repeat: no-repeat;

            main {
                @apply flex-grow;

                .main-list {
                    @apply italic text-[22px] font-thin text-brand-blue-primary;

                    li {
                        @apply xl:list-style-marker;

                        strong {
                            @apply font-extrabold;
                        }

                    }
                }
            }

            .nuxt-icon {
                display: flex;

                svg {
                    width: initial;
                    height: initial;
                    margin-bottom: initial;
                    vertical-align: initial;
                }
            }

            header {

            }

            footer {
                .footer-contacts-list {
                    @apply flex flex-col gap-5;

                    a {
                        @apply flex gap-2 items-start;

                        svg {
                            @apply -mt-0.5
                        }
                    }
                }
            }
        }
    }
}